.create-recipe-container {
  display: flex;
  justify-content: center;

  .create-recipe-button {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #71d6ca;
  }
}
